<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<link href="{f:uri.resource(path:'css/frst-timeline-style-1.css', extensionName: 'ns_timeline')}" rel="stylesheet" />
<div class="frst-container {f:if(condition: '{content.alignment} == 0', then: 'content-alternate', else: '{f:if(condition:\'{content.alignment} == 2\', then:\'content-left-align\', else:\'content-right-align\')}')}" data-animation-name="{f:if(condition: '{content.animationslist}', then: '{content.animationslist}', else: 'slideInUp')}">
    
    <div class="frst-timeline frst-timeline-style-1 {f:if(condition: '{content.alignment} == 0', then: 'frst-alternate', else: '{f:if(condition:\'{content.alignment} == 2\', then:\'frst-left-align\', else:\'frst-right-align\')}')} {f:if(condition: '{content.dateOpposite}', then: 'frst-date-opposite')} timeline-theme--{f:if(condition: '{content.selectTheme}', then: '{content.selectTheme}')}">
    
        <!-- frst-timeline-block -->
        <f:for each="{content.section}" as="newContent" iteration="iterator">
            <!-- Logic For Date -->
            <f:if condition="{newContent.date}">
                <f:if condition="{f:format.date(date: oldDate, format: 'Y')} != {f:format.date(date: newContent.date, format: 'Y')}">
                    <div class="frst-timeline-block frst-timeline-label-block" data-animation="{f:if(condition: '{content.animationslist}', then: '{content.animationslist}', else: 'slideInUp')}">
                        <div class="frst-labels frst-start-label">
                            <f:if condition="({content.themeColor} == '') && {f:cObject(typoscriptObjectPath: 'lib.enableThemeColor')}">
                                <f:then>
                                    <span style="background: {f:cObject(typoscriptObjectPath: 'lib.themeColor')}">
                                </f:then>
                                <f:else>
                                    <span style="background: {content.themeColor}">
                                </f:else>
                            </f:if>                            
                            <f:format.date format="Y">{newContent.date}</f:format.date>
                            </span>
                        </div>
                    </div>
                </f:if>
            </f:if>

            <div class="frst-timeline-block frst-{f:if(condition: '{iterator.isOdd}', then: 'odd', else: 'even')}-item" data-animation="{content.animationslist}">
                <div class="frst-timeline-img">
                    <f:if condition="{newContent.customIcon}">
                        <f:then>
                           
                                    <f:if condition="({content.themeColor} == '') && {f:cObject(typoscriptObjectPath: 'lib.enableThemeColor')}">
                                        <f:then>
                                            <span style="background: {f:cObject(typoscriptObjectPath: 'lib.themeColor')}">
                                        </f:then>
                                        <f:else>
                                            <span style="background: {content.themeColor}">
                                        </f:else>
                        </f:if>
                                <i class="fa {newContent.customIcon}" aria-hidden="true"></i>
                            </span>
                        </f:then>
                        <f:else>
                                   <f:if condition="({content.themeColor} == '') && {f:cObject(typoscriptObjectPath: 'lib.enableThemeColor')}">
                                        <f:then>
                                            <span style="background: {f:cObject(typoscriptObjectPath: 'lib.themeColor')}"></span>
                                        </f:then>
                                        <f:else>
                                            <span style="background: {content.themeColor}"></span>
                                        </f:else>
                                    </f:if>
                        </f:else>    
                    </f:if>    
                </div>
                <!-- frst-timeline-img -->
                <div class="frst-timeline-content">
                    <f:link.typolink parameter="{newContent.link}">
                        <div class="frst-timeline-content-inner" style="background: {f:if(condition: '{newContent.backgroundColor}', then: '{newContent.backgroundColor}')}; color: {f:if(condition: '{newContent.textColor}', then: '{newContent.textColor}')}">
                            <f:if condition="{newContent.title}">   
                                <h2>{newContent.title}</h2>
                            </f:if>
                            <f:if condition="{content.dateFormat} && {newContent.date}">
                                <f:then>
                                    <span class="frst-date">
                                        <f:format.date format="{content.dateFormat}">{newContent.date}</f:format.date>
                                    </span>
                                </f:then>
                                <f:else>
                                    <span class="frst-date">
                                        <f:format.date format="d, F">{newContent.date}</f:format.date>
                                    </span>
                                </f:else>
                            </f:if>
                            <f:if condition="{newContent.text}">
                                <f:format.html>{newContent.text}</f:format.html>
                            </f:if>
                        </div>
                    </f:link.typolink>
                </div>
            </div>
          
           
        </f:for>
    </div>
</div>

</html>