<h2><b>[{flexformData.normalVariation}]</b></h2>
<br>

<div class="frst-container {f:if(condition: '{flexformData.alignment} == 0', then: 'content-alternate', else: '{f:if(condition:\'{flexformData.alignment} == 2\', then:\'content-left-align\', else:\'content-right-align\')}')}">

    <div class="frst-timeline frst-timeline-style-2">

    	<link href="{f:uri.resource(path:'css/frst-timeline-style-2.css', extensionName: 'ns_timeline')}" rel="stylesheet" />
        <div class="container">
            <div class="row">
                <f:for each="{flexformData.section}" as="newContent" iteration="iterator">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="frst-timeline-block frst-{f:if(condition: '{iterator.isOdd}', then: 'odd', else: 'even')}-item">
                            <div class="frst-timeline-img">
                                <f:if condition="{flexformData.selectTheme} == 'default'">
                                    <f:then>
                                        <span style="background: {flexformData.themeColor}">
                                    </f:then>
                                    <f:else>
                                        <span>
                                    </f:else>
                                </f:if>
                            </div>
                            <!-- frst-timeline-img -->
                            <div class="frst-timeline-content" style="width: 100%;">
                                <div class="frst-timeline-content-inner">
                                    <f:if condition="{newContent.title}">
                                        <h2>{newContent.title}</h2>
                                    </f:if>
                                    <f:if condition="{flexformData.dateFormat} && {newContent.date}">
                                        <span class="frst-date">
                                            <f:format.date format="{flexformData.dateFormat}">{newContent.date}</f:format.date>
                                        </span>    
                                    </f:if>
                                    <f:if condition="{newContent.text}">
                                        <f:format.html>{newContent.text}</f:format.html>
                                    </f:if>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</div>    	